# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Coverage reports
.coverage
htmlcov/